<h1>My Students</h1>

@if (students.length === 0) {

  <p>No students found.</p>

} @else {

  @for (student of students; track student.learnerId) {

    <div>

      <h2>
        {{ student.learnerName }}
      </h2>

      <p>
        Email: {{ student.learnerEmail }}
      </p>
      

      @if (student.courses.length === 0) {

        <p>No courses.</p>

      } @else {

        @for (course of student.courses; track course.enrollmentId) {

          <div>

            <h3>
              {{ course.courseTitle }}
            </h3>

            <p>
              Progress: {{ course.progress }}%
            </p>

            <p>
              Status:
              {{ course.completed ? 'Completed' : 'In progress' }}
            </p>

          </div>
          <button
  type="button"
  [routerLink]="[
    '/trainer/courses',
    course.courseId,
    'students',
    student.learnerId
  ]"
>
  View Details
</button>

        }

      }
      

    </div>

  }

}