<h1>My Courses</h1>

@if (courses.length === 0) {

  <p>No courses found.</p>

} @else {

  @for (course of courses; track course.id) {


    <div>
        @if (course.thumbnailUrl) {
  <img
    [src]="course.thumbnailUrl"
    [alt]="course.title"
    width="250"
  />
}

      <h2>{{ course.title }}</h2>

      <p>{{ course.shortDescription }}</p>

      <p>Category: {{ course.categoryName }}</p>

      <p>Level: {{ course.level }}</p>

      <p>Language: {{ course.language }}</p>

      <p>Price: {{ course.price }}</p>

      <p>Status: {{ course.status }}</p>
      <button
  type="button"
  (click)="updateCourse(course.id)"
>
  Update
</button>
      <button
  type="button"
  (click)="deleteCourse(course.id)"
>
  Delete
</button>

    </div>
    @if (course.status === 'DRAFT') {
  <button
    type="button"
    (click)="publishCourse(course.id)"
  >
    Publish
  </button>
}

  }

}