<aside>

  <div class="logo">
    <h2>Training Platform</h2>
  </div>

  <nav>

    <a routerLink="/admin/dashboard" routerLinkActive="active">
      Dashboard
    </a>

    <a routerLink="/admin/categories" routerLinkActive="active">
      Categories
    </a>

    <a routerLink="/admin/users" routerLinkActive="active">
      Users
    </a>

    <a routerLink="/admin/instructor-requests" routerLinkActive="active">
      Instructor Requests
    </a>

  </nav>

  <div class="bottom">

    <a routerLink="/admin/profile" routerLinkActive="active">
      Profile
    </a>
    

    <button>
      Logout
    </button>

  </div>

</aside>